langgraph
langchain
ipython
langchain_openai
langchain_community
langchain-google-genai
python-dotenv
typing
chromadb==1.0.20
langchain_chroma
google-generativeai
langchain_huggingface
gradio
python-docx
docx2txt
pytesseract
Pillow
markdown